li {
  padding: 2rem;
}

.tabs {
  color: #21142c;
  font-weight: 700;
}
/* helped make border go around entire page */
body {
  box-sizing: border-box;
  min-height: 100vh;
  background: url(../components/images/nightSky.jpg) no-repeat center center
    fixed;
  border: solid 1px black;
  box-shadow: inset 0 0 100px black;
}

p {
  font-size: 2rem;
  font-weight: 600;
  color: antiquewhite;
}

.name {
  font-weight: 900;
}

.banner {
  background-color: blueviolet;
  z-index: -1;
}

#avatar {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  box-shadow: 0px 0px 10px black;
  margin: 2rem 0rem 2rem 0rem;
}

#linkedin {
  height: 64px;
  width: 80px;
}
.info {
  margin: 5rem;
  text-shadow: 0 0 5px rgb(225, 0, 255);
}

.title {
  font-weight: 800;
  color: antiquewhite;
}

.footer {
  position: fixed;
  text-align: center;
  margin: 2rem;
  bottom: 0;
  width: 100%;
}

.footer a {
  margin-right: 2rem;
}
