/* helped make border go around entire page */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
  /* background: url(../images/nightSky.jpg); */
  background-color: rgb(22, 26, 37);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid 1px black;
  box-shadow: inset 0 0 100px black;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #c4c4c4;
  text-decoration: none;
  cursor: pointer;
}

#avatar {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  box-shadow: 0px 0px 10px black;
  margin: 2rem 0rem 2rem 0rem;
}

#linkedin {
  height: 64px;
  width: 80px;
}

#showcase {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 20rem;
  width: 50rem;
  transition: transform 350ms, filter 250ms, border 250ms;
  border: solid 1px black;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px black;
  max-width: 100%;
}

#showcase:hover {
  transform: scale(1.04, 1.04);
  filter: none;
}

#linkContainer {
  position: relative;
}

#gitLink {
  margin: 1rem;
  background-color: black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: transform 250ms, box-shadow 250ms;
}

#gitLink:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

#resume {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  background: antiquewhite;
  box-shadow: 0 0 10px black;
  border-radius: 20%;
}

#resume:hover {
  filter: brightness(1.5);
  transform: scale(1.1);
}

#knownLang {
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 550px) {
  #knownLang {
    height: 100px;
    width: 100px;
  }
}

#workInfo {
  background: rgba(41, 40, 40, 0.678);
  border: solid 1px rgb(26, 26, 26);
  border-radius: 1rem;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  max-width: 80%;
  min-height: 6rem;
}

#err {
  background: rgba(255, 0, 0, 0.308);
  display: inline-block;
  border-radius: 0.3rem;
}

.name {
  font-weight: 900;
  font-style: italic;
  padding-left: 1rem;
  color: antiquewhite;
}

.banner {
  /* background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgb(26, 26, 34);
  z-index: -1;
}

.image-rows {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner li {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;
  text-align: center;
}

.tabs-container li {
  display: inline-block;
  min-width: 10rem;
}

.nav ul {
  display: flex;
  flex-wrap: nowrap;
}

.nav ul li {
  flex-shrink: 1;
}

.tabs {
  color: #6b6b6b;
  font-weight: 700;
}

.tab-active {
  filter: brightness(1.2);
  background: rgb(26, 22, 31);
  box-shadow: 0px 0px 10px black;
  color: #ffffff;
  padding: 0.3rem;
  border-radius: 1rem;
}
.languages-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

.other-comms-title {
  text-align: center;
}

.comm-info {
  margin: auto;
  text-align: center;
  overflow-wrap: break-word;
}
.resume-container {
  min-width: auto;
  height: auto;
}

.resume-info {
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  overflow-wrap: break-word;
  list-style: none;
}

.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: display 250ms;
  color: antiquewhite;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  font-size: 1.5rem;
}

.image-container {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.info {
  margin: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: antiquewhite;
}

.title {
  font-weight: 800;
  color: antiquewhite;
}

.contact-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.form-container {
  margin: 2rem;
}

.form-control {
  margin-bottom: 1rem;
}

.pdf-container {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.pdf-container object {
  max-width: 100%;
}

.errPDF {
  font-weight: 900;
  color: rgb(216, 206, 116);
}

.exp-nolist {
  list-style: none;
}

.exp-container {
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.bkgrd-grey {
  background-color: #1a1927;
  display: inline-block;
  min-width: auto;
  padding-bottom: 1rem;
}

.bkgrd-white {
  background-color: rgba(255, 255, 255, 0.137);
  display: inline-block;
  min-width: auto;
  padding-bottom: 1rem;
}

.loading {
  height: 100px;
  width: 150px;
  text-align: center;
  border-radius: 2rem;
}

.footer-container {
  position: relative;
  height: 200px;
}

.footer {
  text-align: center;
}

.footer img {
  margin: 1rem;
}

.footer img:hover {
  filter: brightness(1.5);
  transform: scale(1.1);
}

.closing {
  color: aliceblue;
}

/* for the nav button */
.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  right: 3rem;
  top: 0.3rem;
  z-index: 10;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.651);
  border: none;
  border-radius: 0.5rem;
  color: black;
}

.navBar button:hover {
  filter: brightness(2);
  transform: scale(1.05);
}

.menuNav {
  transition: width 600ms, background-color 800ms;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  /* background-image: url("../images/banner.jpg"); */
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  transition: width 600ms;
  width: 100%;
  background-color: rgb(26, 26, 34);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-left: solid 0.1px rgb(32, 32, 32);
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.time-stamp {
  font-style: italic;
  color: #6b6b6b;
  font-size: 12px;
}
